<h1>{{ title }}</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            {% for label in form.labels %}
                <th>{{ label }}</th>
            {% endfor %}
            <th class="text-right">Action</th>
        </tr>
        </thead>
        <tbody>
        {% for row in form.row %}
            <tr>
                {% for data in row.datas %}
                    <td>{{ data | raw }}</td>
                {% endfor %}
                <td class="text-right">
                    <form action="/action-entities" method="post">
                        <input type="hidden" name="token" value="{{ form.entity }}-{{ hash(row.id) }}">
                        {% if form.postsByUser %}
                        <input type="submit" class="btn btn-warning" name="action" value="modifier">
                        {% else %}
                            {% if form.type is same as ('requests') %}
                            <input type="submit" class="btn btn-success" name="action" value="accepter">
                            <input type="submit" class="btn btn-danger" name="action" value="refuser">
                            {% else %}
                                {% if form.entity is same as ('post') %}
                                    <a href="/article-{{ row.id }}" class="btn btn-warning">Voir</a>
                                {% endif %}
                            <input type="submit" class="btn btn-danger" name="action" value="supprimer">
                            {% endif %}
                        {% endif %}
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% if form.row is empty %}
    <p>Il n'y a pas (encore!) de {% if form.type is same as ('requests') %}demande de nouveaux{% endif %} {{ form.traductedEntity }}.</p>
{% endif %}