{% extends 'layouts/full-width.html.twig' %}

{% block content %}
    <h1>Liste des articles :</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Auteur</th>
                <th>Titre</th>
                <th>Chapô</th>
                <th>Date d'ajout</th>
                <th>Dernière modification</th>
            </tr>
            </thead>
            <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{ post.authorUsername }}</td>
                    <td>{{ post.title }}</td>
                    <td>{{ post.chapo }}</td>
                    <td>{{ post.added | date('d/m/Y') }}</td>
                    <td>{{ post.updated | date('d/m/Y') }}</td>
                    <td>
                        <form action="/demandes-redacteurs" method="post">
                            <input type="hidden" name="hash" value="{{ hash(post.id) }}">
                            <input type="hidden" name="id" value="{{ post.id }}">
                            <input type="submit" class="btn btn-danger" name="action" value="supprimer">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% if posts is empty %}
        <p>Il n'y a pas de rédacteurs.</p>
    {% endif %}
{% endblock %}