{% extends 'layouts/full-width.html.twig' %}
{% block content %}
    <h1>Ajouter un article</h1>
    {% if session.flashbag.error %}
        <div class="alert alert-danger">
            {{session.flashbag.error}}
        </div>
    {% endif %}
    {% if session.flashbag.success %}
        <div class="alert alert-success">
            {{session.flashbag.success}}
        </div>
    {% endif %}
    <form enctype="multipart/form-data" method="post">

        <div class="form-group">
            <label for="title">Titre </label><small class="text-muted"> (max 50 caractères)</small>
            <input type="text" class="form-control" name="title" value="{{ post.title }}">
        </div>
        {% if session.flashbag.errorTitle %}
            <div class="alert alert-danger">
                {{session.flashbag.errorTitle}}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="title">Contenu</label>
            <textarea class="form-control" name="content">{{ post.content }}</textarea>

            <small class="form-text text-muted">(min 100 caractères).</small>
        </div>
        {% if session.flashbag.errorContent %}
            <div class="alert alert-danger">
                {{session.flashbag.errorContent}}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="chapo">Chapô</label>
            <textarea class="form-control" name="chapo">{{ post.chapo }}</textarea>
            <small class="form-text text-muted">Le chapô est affichée sur la liste des articles (max 200 caractères).</small>
        </div>
        {% if session.flashbag.errorChapo %}
            <div class="alert alert-danger">
                {{session.flashbag.errorChapo}}
            </div>
        {% endif %}
        <div class="form-group">
            <label for="image">Image</label>
            {% if post.image is not empty %}
                <img src="{{ img(post.image ~ '-mini' ~ post.extension) }}">
                <input type="checkbox" name="keep-image">
                <label for="keep-image">Je souhaite conserver l'image</label>
            {% endif %}

            <input type="file" class="form-control-file" id="image" name="image">
        </div>
        {% if session.flashbag.errorImage %}
            <div class="alert alert-danger">
                {{session.flashbag.errorImage}}
            </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Envoyer</button>
        </div>
    </form>
{% endblock %}